body{
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
    
  }
  
  .recipe{
    height: 200rem;
    width: 30rem;
    background-color: hsl(0, 0%, 100%);

  }

  .header{
    font-family: "Young Serif"
  }

  .open{
  font-family: "Outfit";
  }

  .prep{
    background-color: hsl(330, 100%, 98%);
    color: hsl(332, 51%, 32%);
    height: 15rem;
    width: 25rem;
    margin-left: 35px;
  }